<tr>
	<td>
		&nbsp;

		<div class="mp-tbody-td">
			<%= libraryFolders[ i ].path %>
		</div>
	</td>

	<td>
		&nbsp;

		<div class="mp-tbody-td">
			<a data-remove-folder="<%= libraryFolders[ i ].path %>" href="javascript:;">Remove</a>
		</div>
	</td>
</tr>
